
*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
  scrollbar-width: none;
  background-color: #D9D9D9 !important;
}
p, h1, h2, h3, h4, h5, h6{
  color: #2A323C !important;
}
.titlebar {
  height: 30px;
  -webkit-app-region: drag;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  app-region: drag;
  user-select: none;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
}


#mainContent{
  margin-top: 15px;
}



#openTodoList{
  height: 70px;
  width: 70px;
  float: left;
  background-color: var(--main-card-color);
  text-align: center;
  cursor: pointer;
  /* border: 2px solid var(--main-border-color); */
  border-radius: 20px;
  bottom: 0px;
  margin-top: 20px;
  padding-top: 8px;
  box-shadow: 0 0.4rem #3296c3;

}
#openTodoList:hover{
  transition: ease-in-out 0.5s;
  filter: brightness(0.85);
}
#openTodoList:active {
  transition: ease-in-out 0s;
  box-shadow: 0 0.1rem #3296c3;
  -webkit-transform: translate(0em, 0.5em);
  transform: translate(0em, 0.5em);
}

#todoWindowSquare{
  width: 80%;
  max-height: 80vh;
  border-radius: 30px;
  margin: 10vh auto;
  position: relative;

  opacity: 100%;
  transition: ease-in-out 0.5s;
  background-color: var(--delete-list-window-background-color);
  overflow-y: auto;
}
#todoWindowFlexWrap {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
#todoHeader {
  width: 100%;
  min-height: 150px;
  float: left;
}
#todoContentWrapper {
  float: left;
  width: 100%;
  margin-top: 14px;
}
#todoContent {
  float: left;
  width: 100%;
  /*margin-bottom: 72px;*/
  margin-top: 10px;
}
#todoHeaderTitle{
  height: 60%;
  width: 100%;
  float: left;
}
#todoHeaderTitleText{
  float: left;
  /* text-align: center; */
  width: 100%;
  height: 100%;
}
#todoHeaderTitleText p {
  font-size: 40px;
  width: 60%;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 12px;

  margin-left: 5%;
}

#addTaskFormWrapper{
  height: 40%;
  width: 100%;
  float: left;
}
#addTaskForm{
  height: 100%;
  width: 100%;
}
#addTaskInput{
  height: 100%;
}
#addTaskInput{
  background-color: #eee;
  border: none;
  padding-left: 5px;
  margin-left: 5%;
  font-size: 20px ;
  font-weight: 600;
  width: 65%;
  border-radius: 1rem;
  color: black;
  /*puvodni*/
  /*box-shadow: 0 0.4rem #dfd9d9;*/
  /*barva jako text*/
  /*box-shadow: 0 0.4rem #A6ADBB;*/
  box-shadow: 0 0.4rem #b5b1b1;
  cursor: pointer;
  float: left;
}

#addTaskForm input:focus {
  outline-color: #95923d;
}
#submitTaskFormWrapper{
  height: 40%;
  width: 25%;
  float: left;
}














.habitCheckId:checked{
  outline: 10px solid red;
}
.todoTask{
  height: 50px;
  width: 200px;
  background-color: aqua;
}
.taskCheck{
  vertical-align: middle;
}
.habitCheckId{
  float: left;
  margin-top: 19px;
}
.taskName{
  float: left;
}
.taskCard{
  position: relative;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 90%;
  height: 80px;
  font-size: 30px;
  font-weight: 600;
 /* border: 1px solid rebeccapurple;
*/
 }



.taskCheckBox{
  height: 50%;
  float: left;
  margin-top: 16px;
  width: 80%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 15px;
  box-sizing: content-box;
}



.taskCheckBox input[type="checkbox"] {
  visibility: hidden;
  display: none;
}
.taskCheckBox label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  line-height: 0;
}
.taskCheckBox *,
.taskCheckBox ::after,
.taskCheckBox ::before {
  box-sizing: border-box;
}
.taskCheckBox .item .cbx {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  /* border: 1px solid #c8ccd4; */
  border: 1px solid #2A323C;
  border-radius: 3px;
  cursor: pointer;
  background-color: #2A323C;
}
.taskCheckBox .item .cbx svg {
  position: relative;
  top: -1px;
  transform: scale(0);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  height: 20px;
  width: 20px;
}
.taskCheckBox .item .cbx svg polyline {
  stroke-width: 2;
  stroke: #B8B449;
  /*stroke: #18cda6;*/
}
.taskCheckBox .item .cbx:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /*
  background: #18cda6;
  */
  background: #B8B449;
  transform: scale(0);
}
.taskCheckBox .item .cbx:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 2px;
  height: 2px;
  border-radius: 2px;
  /*
  box-shadow: 0 -18px 0 #B8B449 12px -12px 0 #B8B449 18px 0 0 #18cda6, 12px 12px 0 #18cda6, 0 18px 0 #18cda6, -12px 12px 0 #18cda6, -18px 0 0 #18cda6, -12px -12px 0 #18cda6;
 */
 box-shadow: 0 -18px 0 #B8B449 12px -12px 0 #B8B449 18px 0 0 #B8B449 12px 12px 0 #B8B449 0 18px 0 #B8B449 -12px 12px 0 #B8B449 -18px 0 0 #B8B449 -12px -12px 0 #B8B449;
  transform: scale(0);
}
.taskCheckBox .item .cbx-lbl {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}
.taskCheckBox .item .cbx-lbl:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 3px;
  background: #9098a9;
}
.taskCheckBox .item input {
  display: none;
}
.taskCheckBox .item input:checked + .cbx {
  border-color: transparent;
}
.taskCheckBox .item input:checked + .cbx svg {
  transform: scale(1);
  transition: all 0.4s ease;
  transition-delay: 0.1s;
}
.taskCheckBox .item input:checked + .cbx:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.3s ease;
}
.taskCheckBox .item input:checked + .cbx:after {
  transform: scale(1);
  opacity: 0;
  transition: all 0.6s ease;
}
.taskCheckBox .item input:checked ~ .cbx-lbl {
  color: #9098a9;
}
.taskCheckBox .item input:checked ~ .cbx-lbl:after {
  width: 100%;
  transition: all 0.4s ease;
}






.deleteTaskButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /*background-color: rgb(20, 20, 20);*/
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);*/
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: 92%;
  transform: translate(-50%, -50%);
  gap: 2px;
}
.deleteTaskIcon {
  width: 19px;
  transition-duration: 0.3s;
}
.deleteTaskIcon path {
  fill: #A6ADBB;
  fill: #2A323C !important;
}
.deleteTaskButton:hover {
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
  gap: 0;
}
.bin-top {
  transform-origin: bottom right;
}
.deleteTaskButton:hover .bin-top {
  transition-duration: 0.5s;
  transform: rotate(160deg);
}










#submitTaskButton {
  /*
  border: 2px solid #18cda6;
  background-color: #18cda6;
  */
  border: 2px solid #B8B449;
  background-color: #B8B449;
  border-radius: 0.9em;
  cursor: pointer;
  padding: 0.8em 0.8em 0.8em 0.8em;
  margin-left: 4%;
  width: 21%;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  float: left;

  box-sizing: border-box;
  /*
  box-shadow: 0 0.4rem #16b08f;
  */
  box-shadow: 0 0.4rem #95923d;
}
#submitTaskButton span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
#submitTaskButton  p{
  margin: 0 auto;
  font-size: 20px;
}
#submitTaskButton:hover {
  background-color:  #95923d;
  /*
  background-color: #16ad8c;
  */
}
/*
#submitTaskButton:active {
  transform: translate(0.05em, 0em);
  box-shadow: 0.05em 0.05em #5566c2;
}
  */
#submitTaskButton:active {
  /*
  box-shadow: 0 0.1rem #16b08f;
  */
  box-shadow: 0 0.1rem #95923d;
  -webkit-transform: translate(0em, 0.5em);
  transform: translate(0em, 0.5em);
}
   







#timerDiv{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  height: 160px;
  /*
  border: 1px solid #2A323C;
  */
  border-radius: 20px;
  background-color: #eee;
  box-shadow: 0 0.4rem #b5b1b1;
}
#timerText{
  width: 100%;
  height: 50%;
  text-align: center;
  font-weight: 600;
  float: left;
  position: relative;
}
#timer{
  width: 100%;
  height:100%;
  text-align: center;
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
#timerButtons{
  float: left;
  width: 100%;
  height: 50%;
  text-align: center;
}
#timerButtons p{
  margin: 0 auto;
  font-size: 20px;
  color: white !important;
}
#timerRun{
  width: 10%;
  height: 50%;
  float: left;
  margin-top: 10px;
  margin-left: 5%;
  background-color: #B8B449;
  box-shadow: 0 0.4rem #95923d;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 65px;
  border: 2px solid #B8B449;
  transition: all ease-in-out 0.2s;
}
#timerRun:hover {
  background-color:  #95923d;
}
#timerRun:active {
  box-shadow: 0 0.1rem #95923d;
  -webkit-transform: translate(0em, 0.5em);
  transform: translate(0em, 0.5em);
}
   
#timerStop{
  width: 10%;
  height: 50%;
  float: left;
  margin-top: 10px;
  margin-left: 5%;
  background-color: #B8B449;
  box-shadow: 0 0.4rem #95923d;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 65px;
  border: 2px solid #B8B449;
  transition: all ease-in-out 0.2s;
}
#timerStop:hover {
  background-color:  #95923d;
}
#timerStop:active {
  box-shadow: 0 0.1rem #95923d;
  -webkit-transform: translate(0em, 0.5em);
  transform: translate(0em, 0.5em);
}
#timerReset{
  width: 20%;
  height: 50%;
  float: right;
  margin-top: 10px;
  margin-right: 5%;
  background-color: #B8B449;
  box-shadow: 0 0.4rem #95923d;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 88px;
  border: 2px solid #B8B449;
  transition: all ease-in-out 0.2s;
}
#timerReset:hover {
  background-color:  #95923d;
}
#timerReset:active {
  box-shadow: 0 0.1rem #95923d;
  -webkit-transform: translate(0em, 0.5em);
  transform: translate(0em, 0.5em);
}





















#openTimerBtn{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25px;
  right: 5%;
}
#openTimerBtn svg{
  stroke: #9098a9;
  transition: 0.2s ease-in-out;
}
#openTimerBtn svg:hover{
  stroke: #42454b;
  cursor: pointer;
}
#timerWindowDiv{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  height: 160px;
  border-radius: 20px;
  background-color: #eee;
  box-shadow: 0 0.4rem #b5b1b1;
  margin-top: 45px;
}




















#punchCardPage{
  width: 90%;
  height: 50px;
  margin: 0 auto;
  margin-top: 50px;
}
#openPunchCardsBtn{
  width: fit-content;
  height: fit-content;
  float: right;
}
#openPunchCardsBtn svg {
  stroke: #9098a9;
  width: 40px;
  height: 40px;
  float: right;
  transition: 0.2s ease-in-out;
}
#openPunchCardsBtn svg:hover{
  stroke: #42454b;
  cursor: pointer;
}
#punchCardsText{
  height:100%;
  width: 70%;
  float: left; 
  padding-left: 15px;
  display: flex;
  align-items: center;
}
#punchCardsText p{
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}


#card-container {
  position: relative;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.punchCard {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(1rem, 5vw, 2rem);
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  border-radius: 20px;
  background-color: #eee;
  padding: 10px;
  box-sizing: border-box;
}
.punchCard p{
  margin: 0;
  text-align: center;
  text-align: center; 
  white-space: normal; 
  word-wrap: break-word; 
  word-break: break-word; 
  padding: 10px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  
}

#score {
  margin-top: 1rem;
  font-size: 1.5rem;
}
#reload-card-button{
  width: 100px;
  height: 55px;
  border: 1px solid green;
  background-color: #B8B449;
  box-shadow: 0 0.4rem #95923d;
  border-radius: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 88px;
  border: 2px solid #B8B449;
  margin-right: 10%;
  float: right;
  transition: all ease-in-out 0.2s;
margin-top: 1rem;

  /*For stopping select*/
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;  
}
#reload-card-button:hover {
  background-color:  #95923d;
}
#reload-card-button:active {
  box-shadow: 0 0.1rem #95923d;
  -webkit-transform: translate(0em, 0.5em);
  transform: translate(0em, 0.5em);
}
#reload-card-button p{
  margin: 0 auto;
  font-size: 20px;
  color: white !important;
}

























/*Punch card add form*/
#punchCardFormDiv{
  width: 100%;
  height: 100px;
  margin-top: 30px;
}
#addPunchCardFormWrapper{
  height: 64px;
  width: 100%;
  float: left;
}
#addPunchCardForm{
  height: 100%;
  width: 100%;
}
#addPunchCardInput{
  height: 100%;
}
#addPunchCardInput{
  background-color: #eee;
  border: none;
  padding-left: 5px;
  margin-left: 5%;
  font-size: 20px ;
  font-weight: 600;
  width: 65%;
  border-radius: 1rem;
  color: black;
  box-shadow: 0 0.4rem #b5b1b1;
  cursor: pointer;
  float: left;
  text-indent: 10px; 
}

#addPunchCardForm input:focus {
  outline-color: #95923d;
}
#submitPunchCardFormWrapper{
  height: 40%;
  width: 25%;
  float: left;
}
#submitPunchCardButton {
  border: 2px solid #B8B449;
  background-color: #B8B449;
  border-radius: 0.9em;
  cursor: pointer;
  padding: 0.8em 0.8em 0.8em 0.8em;
  margin-left: 4%;
  width: 21%;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  float: left;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 0.4rem #95923d;
}
#submitPunchCardButton span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
#submitPunchCardButton  p{
  margin: 0 auto;
  font-size: 20px;
}
#submitPunchCardButton:hover {
  background-color:  #95923d;
}
#submitPunchCardButton:active {

  box-shadow: 0 0.1rem #95923d;
  -webkit-transform: translate(0em, 0.5em);
  transform: translate(0em, 0.5em);
}
   



#all-cards {
  position: relative;
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-top: 30px;
}


.card-all {
  position: relative;
  width: 100px;
  height: fit-content;
  background-color: #eee;
  font-size: 5vw; 
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  font-size: 5vw; 
  flex-direction: column;
}

.card-text {
  font-size: 1.2rem;
  line-height: 1.5;
  overflow: hidden;
  min-height: 80px; 
  max-height: 80px; 
  text-overflow: ellipsis;
  transition: height 0.3s ease; 
  margin: 0;

  text-align: center; 
  white-space: normal; 
  word-wrap: break-word; 
  word-break: break-word; 


  text-align: center; 
  transition: max-height 0.3s ease; 
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  min-height: 60px;
  max-height: 60px;
}

.card-all:hover .card-text {
  max-height: 300px;
}
.delete-punchcard-wrapper{
  width: 100%;
  height: 20px;
}
.delete-punchcard{
  height: 100%;
  width: 30px;
  float: right;
}
.delete-punchcard svg{
  width: 20px;
  height: 20px;
  float: right;
  stroke: #9098a9;
  transition: 0.2s ease-in-out;

}
.delete-punchcard svg:hover{
  stroke: #4a4d53;
  stroke:#b62222 ;
  transition: 0.2s ease-in-out;
}
#punchCardTitleMargin{
  margin-top: 20px;
  height: 1px;
}
#punchCardActionWrapper{
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
#score{
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
  height: 55px;
  background-color: #eee;
  box-shadow: 0 0.4rem #b5b1b1;
  border-radius: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 88px;
  margin-left: 10%;
  float: left;
  transition: all ease-in-out 0.2s;
  color: black;

  min-width: 130px;
  max-width: 250px;
  overflow: hidden;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}